<header
  class="fixed top-0 left-0 right-0 min-h-16 h-16 bg-primary
    dark:bg-primary_dark py-2 px-8 flex justify-between align-middle"
>
  <div class="flex justify-center items-center gap-4">
    <img src="" alt="logo" />
    <h1 class="text-lg my-auto h-fit font-bold uppercase">Sarif-ng's pong</h1>
  </div>
  <div class="flex gap-4 justify-center items-center">
    <div
      class="flex flex-row items-center right-1 bg-navbar_dark rounded-xl p-2"
    >
      @for (item of langButtonsConfig; track item.LangCode) {
        <button
          class="p-2 h-full flex flex-row items-center text-sm font-medium
            rounded-lg hover:bg-panel_dark"
          (click)="onLangChange(item.LangCode)"
        >
          <span class="text-md">{{ item.LangCode }}</span>
          <span class="ml-1"> <img [src]="item.icon" class="w-5 h-5" /></span>
        </button>
      }
    </div>
    @if (userProfile()) {
      <div>
        <div
          (click)="openDropwdownMenu.set(!openDropwdownMenu())"
          class="flex flex-row gap-4 items-center cursor-pointer
            hover:dark:bg-panel_dark rounded-xl p-2"
          [class.dark:bg-panel_dark]="openDropwdownMenu()"
        >
          <p class="text-lg font-semibold text-gray-800 dark:text-gray-200">
            {{ userProfile()?.DisplayName }}
          </p>
          <app-user-avatar [user]="userProfile()!"></app-user-avatar>
        </div>
        @if (openDropwdownMenu()) {
          <app-dropdown-menu (close)="openDropwdownMenu.set(false)">
            <app-dropdown-menu-button
              ><ng-icon name="lucideUserRound" />Mon
              profil</app-dropdown-menu-button
            >
            <app-dropdown-menu-button
              ><ng-icon name="lucideUserRoundPen" />Modifier mon
              profil</app-dropdown-menu-button
            >
            <app-dropdown-menu-button (click)="logout()"
              ><ng-icon name="lucideLogOut" /> Se
              déconnecter</app-dropdown-menu-button
            >
          </app-dropdown-menu>
        }
      </div>
    } @else {
      <app-button
        icon="assets/ui/login-door-1-svgrepo-com.svg"
        (click)="showLoginModal()"
      >
        {{ ('header.usermenu.login' | translate)() }}
      </app-button>
    }
  </div>
</header>
