<div class="flex flex-col gap-y-8 justify-center items-center">
  <form
    class="w-80 text-black dark:text-white flex flex-col gap-y-4 items-center"
    (ngSubmit)="onLoginButtonClick()"
  >
    <app-input
      class="w-full"
      type="text"
      [placeholder]="
        ('modal.components.auth.login.usernameLabel' | translate)()
      "
      [(value)]="username"
      name="username"
      required
    />
    <app-input
      class="w-full"
      type="password"
      [placeholder]="
        ('modal.components.auth.login.passwordLabel' | translate)()
      "
      [(value)]="password"
      name="password"
      required
    />
    <app-link-button (click)="openRegister.emit()">
      {{ ('modal.components.auth.login.link.subscribePanel' | translate)() }}
    </app-link-button>
    <app-button class="w-full" [disabled]="isLoading()" type="submit">
      {{ ('modal.components.auth.login.connexionButton' | translate)() }}
    </app-button>
    <!-- TODO: Support remember me
    <label>
      <input type="checkbox" checked="checked" name="remember" />
      {{ ('Se souvenir de moi' | translate)() }}
    </label>
    -->
  </form>
  <hr class="w-full" />
  <app-google-signin-button (click)="oauth2Login.emit()" />
</div>
