@if (href()) {
  <a
    class="bg-white dark:bg-background_dark hover:animate-scale
      hover:animate-duration-100 cursor-pointer rounded-lg p-3 text-xs
      font-semibold flex align-middle items-center gap-x-3 h-[40px]"
    [href]="href()"
  >
    @if (icon()) {
      <img class="select-none h-4 w-4 dark:invert" [src]="icon()" />
    }
    <p>{{ (title() | translate)() }}</p></a
  >
} @else {
  <button
    class="bg-white dark:bg-background_dark hover:animate-scale
      hover:animate-duration-100 cursor-pointer rounded-lg p-3 text-xs
      font-semibold flex align-middle items-center gap-x-3 h-[40px]"
  >
    @if (icon()) {
      <img class="select-none h-4 w-4 dark:invert" [src]="icon()" />
    }
    <p>{{ (title() | translate)() }}</p>
  </button>
}
