<div
  class="z-40 fixed top-0 left-0 bottom-0 right-0 bg-black opacity-50 flex
    items-center justify-center"
  (click)="close()"
></div>
<div
  class="z-50 fixed top-0 left-0 bottom-0 right-0 bg-background
    dark:bg-background_dark h-fit m-auto p-8 rounded-xl max-w-[500px] w-full
    shadow-xl overflow-visible"
  (click)="$event.stopPropagation()"
>
  <div
    class="dark:text-white absolute -top-4 -right-4 z-50 w-10 h-10 text-3xl
      font-bold bg-background dark:bg-black/70 rounded-md flex items-center
      justify-center cursor-pointer dark:hover:text-red-500 hover:text-red-500
      hover:bg-blue-100 dark:hover:bg-black/90 shadow-lg select-none
      focus:outline-none"
    (click)="close()"
  >
    ×
  </div>
  <div>
    <ng-container *ngComponentOutlet="componentChild()"></ng-container>
  </div>
</div>
