<div class="relative flex justify-center items-center overflow-visible">
  <!-- prettier-ignore -->
  <input
    [class]="
      'text-sm rounded-lg block w-full p-2.5 bg-gray-50 dark:bg-gray-700 border ' +
      (showRedinput()
        ? 'border-red-500 focus:border-red-500 focus:ring-red-500 \
          dark:border-red-600 dark:focus:ring-red-500 dark:focus:border-red-500'
        : ' border-gray-300 text-gray-900 focus:ring-blue-500 \
          focus:border-blue-500 dark:border-gray-600 dark:placeholder-gray-400 \
          dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500')
    "
    [type]="typeNormalize()"
    [disabled]="disabledSignal()"
    [placeholder]="placeholder()"
    [value]="value()"
    (input)="handleInput($any($event.target).value)"
    [name]="name()"
    [required]="required() || required() === ''"
    (focus)="focus.set(true)"
    (blur)="focus.set(false)"
    [autocomplete]="autocompleteComputed() ? 'on' : 'off'"
  >

  <app-input-tooltip
    [validatorResult]="validatorResult()"
    [passwordConfig]="inputPasswordValidatorConfigSignal()"
    [type]="type()"
    [class.animate-fade-in-right]="!showTooltip()"
    [class.animate-fade-out-left]="showTooltip()"
    [class.invisible]="!isTriggered()"
  />
</div>
